# Copy this file to a new file named .env and fill in your real values.
# Never commit your real .env file to GitHub.

PORT=3000

DATABASE_URL=postgresql://username:password@localhost:5432/defence_cyber_db

JWT_SECRET=67f263e6be326acd7282c6faeccce379f8ada17336bf1bdcd083dbdccf92151188d4ec075139c893c462093c1ddb1055b655ba0210ff3479a2b54c9064067f49


FRONTEND_URL=http://localhost:5173
