# Copy this file to a new file named .env and fill in your real values.
# Never commit your real .env file to GitHub.

PORT=3000

DATABASE_URL=postgresql://username:password@localhost:5432/defence_cyber_db

JWT_SECRET=fd7099d1ccbe881873ddec78b8d6e01971849f753a822f425bc249dc7669fb2bbac49a5df5435ce48f565fa4aea8ac1b7577f53deb53bf40d54da25319cb37a9


FRONTEND_URL=http://localhost:5173
